.carousel-item{
    height: 600px;
    width: 1002px;
}
.col-lg-5 img{
    height: 450px;
    width: 402px;
}
.col-6{
    background:linear-gradient(blue, skyblue);
    height: 120px;
    width: 379px;
}
.products img{
    height: 90px;
    width: 68px;
}